$color_body:rgb(187, 152, 235);
$color_titre-bg:rgb(51, 0, 255);
$color_titre-text:rgb(241, 239, 247);
$color_col1-bg:rgb(198, 239, 17);
$color_col2-bg:rgb(162, 16, 16);
$hover-background:rgb(38, 229, 70);